{% extends 'base.html.twig' %}

{% block title %}Bienvenue SuR PiMp My Glace 
{% endblock %}

{% block body %}
<h1>PiMp My Glace pour rester au Frais en étant stylay</h1>
<p>Proposez vos Glaces et nous les ferons! </p>
	{{ form_start(form, {'attr' :{'id': 'filter-form'}}) }}
	{{ form_end(form) }}
	<section id="glaces">
		{% include 'partial/glace.html.twig' %}
	</section>

{% endblock %}
