@use "../abstract/variable.scss" as v; 
@use "../abstract/mixin.scss" as m; 



article{
    margin:1rem 0;
    // @include m.flex;
    width: 75vw;
    height: 200px;
    
    p{
        margin: 5px 0px
    }

    >div{
        @include m.flex(row,space-around);
        width: 100%;
        height: 100%;
        

        .main_article{
            width: 75%;
        }

        img{
            width: 25%;
            height: 100%;
            object-fit: cover;
        }
    }

    .btn_bloc{
        @include m.flex(row,margin-left);

        a,button{
            margin-right:1rem;
            color:v.$decoColor2;
            font-weight: 900;
        }
    }
}

.main_article span{
    background-color: v.$btnColor;
    padding: 3px;
    border-radius: 3px;
}